## Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot
   change the elements of a tuple once assigned.

2. When we do not want to change the data over time, tuple is a preferred data type.

3. Iterating over the elements of a tuple is faster compared to iterating over a list.

## Tuple creation

In [164]:
tup1=() # Empty tuple

In [166]:
tup2=(10,30,60) # tuple of integers numbers

In [168]:
tup3=(10,77,30,66,60,89) # tuple of floot numbers

In [170]:
tup4=('one','two',"three") # tuple of strings

In [172]:
tup5=('Asif',25,(50,100),(150,90)) # Nested tuples

In [174]:
tup6=(100,'Asif',17,765) # Tuple of mixed data types

In [176]:
tup7=('Asif',25,[50,100],[150,90],{'John','DAvid'},(99,22,33))

In [178]:
len(tup7) # Length of list

6

## Tuple indexing

In [181]:
tup2[0] # Retreive frist element of the tuple

10

In [183]:
tup4[0] # Retrive frist element of the tuple

'one'

In [185]:
tup4[0][0] # Nested indexing - Access the frist character of the frist tuple element

'o'

In [187]:
tup4[-1] # last item of the tuple

'three'

In [189]:
tup5[-1] # Last item of the tuple

(150, 90)

## Tuple Slicing

In [192]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [194]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the iteam

('one', 'two', 'three')

In [196]:
mytuple[2:5] # List all items from 2nd to 5th index Location excluding the item

('three', 'four', 'five')

In [198]:
mytuple[:3] # Returns frist three items

('one', 'two', 'three')

In [200]:
mytuple[:2] # Returns frist two items

('one', 'two')

In [202]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [204]:
mytuple[-2:] # Returns last two items

('seven', 'eight')

In [206]:
mytuple[-1] # Rturn last item of the tuple

'eight'

In [208]:
mytuple[:] # Return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

## Remove & Change Items

In [211]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [213]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple iteams

TypeError: 'tuple' object doesn't support item deletion

In [215]:
mytuple[0]=1 # Tuples are immtable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [217]:
del mytuple # Deleting entire tuple object is possible

## Loop throuh a tuple

In [222]:
mytuple=('one','two','three','four','five','six','seven','eight')

In [224]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [226]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Tuple Mumbership

In [228]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [230]:
'one' in mytuple # check if 'one' exit in the list

True

In [232]:
'ten'in mytuple # check if 'ten' exist in the list

False

In [236]:
if 'three' in mytuple: # check if 'three' exist in the list
    print('even is not present in the tuple')
else:
    print('eleven is present in the tuple')

even is not present in the tuple

## Index Position

In [239]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [241]:
mytuple.index('one') # Index of frist element equal to 'one'

0

In [243]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [247]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [249]:
mytuple.index('one') # Index of first element equal to 'one'

0

## Sorting

In [252]:
mytuple2=(43,67,99,12,6,90,67)

In [254]:
sorted(mytuple2) # Returns a new sorted list and doesn't change orginal tuple

[6, 12, 43, 67, 67, 90, 99]

In [258]:
sorted(mytuple2, reverse=True) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]