## sets

1) Unodered & Unindexed collection of iteams.
2) Set elements are unique.Duplicate elements are not allowed.
3) Set elements are immutable(cannot be changed).
4) Setitself is mutable.we can add or remove items from it.

## Set Creation

In [107]:
myset={1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [109]:
len(myset) #Lenght of the set

5

In [111]:
my_set={1,1,2,2,3,4,5,5} # Duplicate elements are not allowed.
my_set

{1, 2, 3, 4, 5}

In [113]:
myset1={1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [115]:
myset2={'Asif','John','Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [117]:
myset3={10,20,"Hola",(11,22,32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [119]:
myset3={10,20,"Hala",[11,22,32]}  # set doesn't allow mutable items like list
myset3

TypeError: unhashable type: 'list'

In [123]:
myset4 = set()  # create an empty set
print(type(myset4))

<class 'set'>

In [125]:
my_set1=set(('one','two','three','four'))
my_set1

{'four', 'one', 'three', 'two'}

## Loop through a Set

In [128]:
myset={'one','two','three','four','five','six','seven','eight'}
for i in myset:
    print(i)

six
eight
two
three
four
seven
five
one

In [130]:
for i in enumerate(myset):
    print(i)

(0, 'six')
(1, 'eight')
(2, 'two')
(3, 'three')
(4, 'four')
(5, 'seven')
(6, 'five')
(7, 'one')

## set Membership

In [133]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [135]:
'one' in myset # Check if 'one' exist in the set

True

In [137]:
'ten' in myset # Check if 'ten' exist in the set

False

In [139]:
if'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')

Three is present in the set

In [141]:
if 'elven' in myset: # Check if 'eleven' exist in the list
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is not present in the set

## Add & Remove list

In [144]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [146]:
myset.add('NINE')  # Add item to a set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [148]:
myset.update(['TEN','ELEVEN','TWELVE']) # Add multiple item to a set using 
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [150]:
myset.remove('NINE')  # remove item in a set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [152]:
myset.discard('TEN')  # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.clear()  # Delete all items in a set
myset

In [ ]:
del myset  # Delete the set object
myset

## Copy Set

In [154]:
myset={'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [156]:
myset1=myset  # Create a new reference "myset1" 
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [160]:
id(myset),id(myset1) # The address of both myset & myset1 will be the same as

(2288024972288, 2288024972288)

In [162]:
my_set=myset.copy()  # Create a copy of the list
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [164]:
id(my_set)  # The address of my_set will be different from myset because my_set i

2288024968704

In [166]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [168]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [170]:
my_set # Copy of the set won't be impacted due to changes made on the original Set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

## Set Operation

###### Union

In [174]:
A={1,2,3,4,5}
B={4,5,5,6,7,8}
C={8,9,10}

In [176]:
A|B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [178]:
A.union(B) # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [182]:
A.union(B,C) # Union of A, B and C. # Union of A, B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [184]:
"""
updates the set calling the update() method with union of A, B & C.
For below example Set A Will be updated with Union of A, B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

#### Intersecation

In [187]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [193]:
A & B # Intersection of A and B (Common items in both sets)

{4, 5}

In [195]:
A.intersecation(B) Intersecation of A and B

SyntaxError: invalid syntax (3480536986.py, line 1)

In [197]:
"""
updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

#### Dfference

In [201]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [203]:
A-B  # set of elements that are only in A but not in B

{1, 2, 3}

In [205]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [207]:
B - A # set of elements that are only in B but not in A

{6, 7, 8}

In [211]:
B.difference(A)

{6, 7, 8}

In [209]:
"""
updates the set calling the difference_update() method with the difference of se For below
example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

#### Symmetric Difference

In [213]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [215]:
 A ^ B   # Symmetric difference (Set of elements in A and B but not in both. "EXCLU

{1, 2, 3, 6, 7, 8}

In [217]:
A.symmetric_difference(B)  # Symmetric difference (Set of elements in A and B but not in both. "EXCLU

{1, 2, 3, 6, 7, 8}

In [219]:
"""
updates the set calling the symmetric_update() method with the symmet
For below example set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

#### subset, Superset & Disjoint

In [222]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30,40}

In [224]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [226]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [228]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

True

In [230]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common e

False

## Other Builtin functions

In [232]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [234]:
sum(A)

45

In [236]:
max(A)

9

In [238]:
min(A)

1

In [240]:
len(A)

9

In [242]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [244]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [246]:
sorted (D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dicitionary

. Dictionary is a mutable data type in python.

. A python dicionary is a collection of key and value pairs separated by a colon(:) &
  enclosed in curly braces{}.

. keys must be unique in a dictionary, duplicate values are allowed.

## create Dictionary

In [254]:
mydict = dict() ) # empty dictionary
mydict

{}

In [256]:
mydict={} ) # empty dictionary 
mydict

{}

In [258]:
mydict={1:'óne',2:'two',3:'three'} # dictionary with integer keys
mydict

{1: 'óne', 2: 'two', 3: 'three'}

In [1]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict() 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [3]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [262]:
mydict={1:'one','A':'two',3:'three'}  # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [264]:
mydict.keys()  # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [266]:
mydict.values()  # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [268]:
mydict.items()  # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [270]:
mydict={1:'one',2:'two','A':['asif','john','Maria']} # dictionary with
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [272]:
mydict={1:'one',2:'two','A':['asif','john','Maria'],'B':('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [274]:
mydict={1:'one',2:'two','A':{'Name':'asif','Age':20},'B':('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [276]:
keys={'a','b','c','d'}
mydict3=dict.fromkeys(keys)
mydict3

{'c': None, 'a': None, 'd': None, 'b': None}

In [278]:
keys={'a','b','c','d'}
value=10
mydict3=dict.fromkeys(keys,value) # Create a dictionary from a sequence of keys
mydict3

{'c': 10, 'a': 10, 'd': 10, 'b': 10}

In [280]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict3=dict.fromkeys(keys,value) # Create a dictionary from a sequence of
mydict3

{'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'b': [10, 20, 30]}

In [282]:
value.append(40)
mydict3

{'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

#### Accessing Items

In [285]:
mydict={1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [287]:
mydict[1]  # Access item using key

'one'

In [289]:
mydict.get(1) # Access item using get() method

'one'

In [291]:
mydict1={'Name':'Asif','ID':74123,'DOB':1991,'job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [293]:
mydict1['Name']  # Access item using key
'Asif'

'Asif'

In [295]:
mydict1.get('job') # Access item using get() method

'Analyst'

## Add,Remove & Change Items

In [298]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [300]:
mydict1['DOB']=1992 # Changing Dictionary Items
mydict1['Address']='Delihi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delihi'}

In [304]:
dict1={'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [306]:
mydict1['Job']='Analyst' # Adding items in the dictionar
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [308]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [310]:
mydict1.popitem()  # A random item is removed

('Address', 'Delhi')

In [312]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [314]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [316]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [318]:
del mydict1  # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

#### Copy Dictionary

In [321]:
mydict = {'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [323]:
mydict1 = mydict  # Create a new reference "mydict1"

In [325]:
id(mydict),id(mydict1) # The address of both mydict & mydict1 will be the same

(2288039070144, 2288039070144)

In [327]:
mydict2=mydict.copy()  # Create a copy of the dictionary

In [329]:
id(mydict2)  # The address of mydict2 will be different from mydict because mydic

2288038666624

In [331]:
mydict['Address']='Mumbai'

In [333]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [335]:
mydict1  # mydict1 will be also impacted as it is pointing to the same dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [337]:
mydict2 # Copy of list won't be impacted due to the changes made in the original

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

#### Loop through a Dictionary

In [340]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki','Job':'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [342]:
for i in mydict1:
    print(i,':',mydict1[i])  # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [344]:
for i in mydict:
    print(mydict1[i])  # Dictionary items

Asif
12345
1991
Hilsinki

#### Dictionary Membership

In [347]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Job':'Anaiyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Anaiyst'}

In [349]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [351]:
'Asif'in mydict1

False

In [353]:
'ID' in mydict1

True

In [355]:
'Address' in mydict1

False

#### All/Any

The all() method returns:

. True-If all all keys of the dictionary are true

.False-If any key() function returns True if any key of the dictionary is True.If not.any
() returns False.

In [361]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [363]:
all(mydict1) # Will Return false as one value is false (Value 0)

True