In [1]:
# split the  raw data into clean data

In [3]:
import pandas as pd
import os

In [7]:
file = r"C:\Users\Vemul\Downloads\Python Advance\27th -11-24--  Pandas Dataframe\27th -11-24--  Pandas Dataframe\DataFrame_ Pandas\data.csv"
df1=pd.read_csv(file)
df1

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income