# print is use for answer

In [2]:
a=10 
b=20 
a 
b

20

In [3]:
a=10 
b=20 
print(a) 
print(b)

10
20

In [4]:
print(10) 
print(10,20) 
print('python') 
print(10,20,'python')

10
10 20
python
10 20 python

In [5]:
num1=20 
num2=30 
add=num1+num2 
print(add)

50

## print result with string

In [7]:
num1=20 
num2=30 
add=num1+num2 
print('The addition of',num1,'and',num2,'is=',add)

The addition of 20 and 30 is= 50

In [8]:
name='Python' 
age=20 
city='hyd' 
#hellow my name is python and i am 10 year old from hydrabad

In [9]:
print('My name is',name,'and i am',age,'years old form',city)

My name is Python and i am 20 years old form hyd

#### print Format method

In [11]:
num1=20 
num2=30 
add=num1+num2 
print('The addition of {} and {} is= {}'.format(num1,num2,add))

The addition of 20 and 30 is= 50

. first deside how the print statement should be

. like:- The addition of 20 and 30 is = 50

. then replace the variable position with curly brtacesm { }

. then appply .format(val1,val2,....val-n methodm

name='Python' 
age=20 
city='hyd' 
#hellow my name is python and i am 10 year old from hydrabad

In [18]:
print('hello my name is {}, and i am {} years old from {}'
.format(name,age,city))

hello my name is Python, and i am 20 years old from hyd

In [20]:
num1=100 
num2=25 
num3=333 
num1=20 
num2=30 
avg=(num1+num2+num3)/3 # or we can use avg=round(num1+num2+num3)/3,2) 
avg1=round((num1+num2+num3)/3,2) 
# The avrage of num1,num2,num3 is = avg

print('The avrage of {}, {}, and {} is= {} or {}'.format(num1,num2,num3, 
avg,avg1)) # here we can use round(avg,2) also

The avrage of 20, 30, and 333 is= 127.66666666666667 or 127.67

In [22]:
round(avg,2) # round of till 2 digite after decimal

127.67

#### More short format meythod(f string method)

. variable should be in curly braces

. and write everything inside quots ''

. at starting simpaly add f

In [27]:
num1=20
num=30

In [29]:
add=num1+num2 
print(f'The addition of {num1} and {num2} is= {add}') # alwase prefer this

The addition of 20 and 30 is= 50

In [31]:
name='Python' 
age=20 
city='hyd' 
#hellow my name is python and i am 10 year old from hydrabad

In [33]:
print(f'hello my name is {name}, and i am {age} year old, from {city}.')

hello my name is Python, and i am 20 year old, from hyd.

In [35]:
num1=100 
num2=25 
num3=333 
avg=round((num1+num2+num3)/3,2) # or we can use avg=round(num1+num2+num3)/3,2) 
# The avrage of num1,num2,num3 is = avg

In [37]:
print(f'The avrage of {num1}, {num2} and {num3} is = {avg}')

The avrage of 100, 25 and 333 is = 152.67

In [39]:
# lete combine all 
num1=10 
num2=20 
add = num1+ num2 
print('The addition of',num1,'and',num2,'is=',add) 
print('The addition of {} and {} is= {}'.format(num1,num2,add)) 
print(f'The addition of {num1} and {num2} is= {add}')

The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30
The addition of 10 and 20 is= 30

## end statement

In [42]:
print('hello') # 1st statement 
print('good moorning') # 2nd statement) 
# i want print like:- hellow good morning

hello
good moorning

. Here we will use end statement that joint line from end of one string to starting of other 
  string

In [46]:
print('hello',end='') # 1st statement
print('world good day') # 2nd statement

helloworld good day

## seprator

. here one print statement only we use

. insisde one print statement we have multipal values

. we want to seperate these multipal values with anything

In [49]:
print('hello','hai','how are you',sep='--->')

hello--->hai--->how are you

In [51]:
print('hello','hai','how are you',sep='&')

hello&hai&how are you

In [53]:
print('hello','hai','how are you',sep='@')

hello@hai@how are you

In [55]:
print('hello','hai','how are you',sep=' ')

hello hai how are you

In [57]:
print(3,'.') # . is far from 3 so here we will use sep method

3 .

In [59]:
print(3,'.',sep='') # see now space setteld(also use to remove space B/W words

3.

In [61]:
print(1,2,end=' ') 
print(3,'.',sep='') 
# will print 1 2 3.

1 2 3.