## Python Tutorial

In [7]:
import sys 
import keyword 
import operator 
from datetime import datetime
import os

## keywords

Keywords are the reserved words in Python and can't be used as an identifier

In [10]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [12]:
len(keyword.kwlist) # Python contains 35 keywords

35

## Identiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate 
one entity from another.

In [17]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid decimal literal (2087397812.py, line 1)

In [19]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (619048856.py, line 1)

In [21]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (2492423719.py, line 1)

In [26]:
""" 
Correct way of defining an identifier 
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase 
""" 
val2 = 10

In [28]:
val_ = 99

## Comments in python

Comments can be used to explain the code for more readabilty.

In [31]:
# Single line comment 
val1 = 10

In [33]:
# Multiple 
# line 
# comment 
val1 = 10

In [35]:
''' 
Multiple 
line 
comment 
''' 
val1 = 10

In [37]:
""" 
Multiple 
line 
comment 
""" 
val1 = 10

## Statements

Instructions that a Python interpreter can execute.

In [40]:
 
p = 20 #Creates an integer object with value 20 and assigns the variable p to p 
q = 20 # Create new reference q which will point to value 20. p & q will be poi 
r = q # variable r will also point to the same location where p & q are pointin 
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a

(20, int, '0x7ff8136f2c18')

In [42]:
q , type(q), hex(id(q))

(20, int, '0x7ff8136f2c18')

In [44]:
r , type(r), hex(id(r))

(20, int, '0x7ff8136f2c18')

In [46]:
p = 20 
p = p + 10 # Variable Overwriting
p

30

## Variable Assigment

In [51]:
intvar = 10 # Integer variable 
floatvar = 2.57 # Float Variable 
strvar = "Python Language" # String variable 
print(intvar) 
print(floatvar) 
print(strvar)

10
2.57
Python Language

## Multiple Assignments

In [54]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separat 
print(intvar) 
print(floatvar) 
print(strvar)

10
2.57
Python Language

In [56]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value 
print(p1,p2,p3,p4)

44 44 44 44

## Data Types

#### Numeric

In [60]:
val1 = 10 # Integer data type 
print(val1) 
print(type(val1)) # type of object 
print(sys.getsizeof(val1)) # size of integer object in bytes 
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int

10
<class 'int'>
28
10  is Integer? True

In [62]:
val2 = 92.78 # Float data type 
print(val2) 
print(type(val2)) # type of object 
print(sys.getsizeof(val2)) # size of float object in bytes 
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [64]:
val3 = 25 + 10j # Complex data type 
print(val3) 
print(type(val3)) # type of object 
print(sys.getsizeof(val3)) # size of float object in bytes 
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [72]:
sys.getsizeof(int()) # size of integer object in bytes

28

In [70]:
sys.getsizeof(float()) # size of float object in bytes

24

In [74]:
sys.getsizeof(complex()) # size of complex object in bytes

32

## Boolean

Boolean data type can have only two possible values true or false.

In [79]:
bool1 = True

In [81]:
bool2 = False

In [83]:
print(type(bool1))

<class 'bool'>

In [85]:
print(type(bool2))

<class 'bool'>

In [87]:
isinstance(bool1, bool)

True

In [89]:
bool(0)

False

In [91]:
bool(1)

True

In [93]:
bool(None)

False

In [95]:
bool(False)

False

## Strings

## String Creation

In [100]:
str1 = 'HELLO PYTHON'

print(str1)

HELLO PYTHON

In [106]:
mystr = 'Hello World' # Define string using single quotes 
print(mystr)

Hello World

In [108]:
mystr = "Hello World" # Define string using double quotes 
print(mystr)

Hello World

In [110]:
mystr = '''Hello 
            World ''' # Define string using triple quotes 
print(mystr)

Hello
            World

In [114]:
mystr = """Hello 
           World""" # Define string using triple quotes 
print(mystr)

Hello
           World

In [116]:
mystr = ('Happy ' 
         'Monday ' 
         'Everyone')
print(mystr)

Happy Monday Everyone

In [120]:
mystr2 = 'Woohoo ' 
mystr2 = mystr2*5
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [122]:
len(mystr2) # Length of string

35

#### strings Indexing

In [126]:
str1

'HELLO PYTHON'

In [128]:
str1[0] # First character in string "str1"

'H'

In [130]:
str1[len(str1)-1] # Last character in string using len function

'N'

In [132]:
str1[-1] # Last character in string

'N'

In [134]:
str1[6] #Fetch 7th element of the string

'P'

In [136]:
str1[5]

' '

#### string sclicing

In [139]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location exc

'HELLO'

In [141]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [143]:
str1[-6:] # Retreive last six characters of the string

'PYTHON'

In [145]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [147]:
str1[:6] # Retreive first six characters of the string

'HELLO '

#### Update & Delete string

In [150]:
str1

'HELLO PYTHON'

In [152]:
#Strings are immutable which means elements of a string cannot be changed once t
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [154]:
del str1 # Delete a string 
print(srt1)

NameError: name 'srt1' is not defined

#### string concatenation

In [157]:
# String concatenation 
s1 = "Hello" 
s2 = "Asif" 
s3 = s1 + s2 
print(s3)

HelloAsif