## List

1) List is an ordered sequence of items.

2) We can have different data types under a list. E.g we can have integer, float and string items in 
   a same list.

#### List Creation

In [16]:
list1 = [] # Empty List

In [20]:
print(type(list1))

<class 'list'>

In [24]:
list2 = [10,30,60] # List of integers numbers

In [26]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [28]:
list4 = ['one','two' , "three"] # List of strings

In [30]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Listsv

In [32]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [34]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [36]:
len(list6) #Length of list

3

In [38]:
list2[0] # Retreive first element of the list

10

In [40]:
list4[0] # Retreive first element of the list

'one'

In [42]:
list4[0][0] # Nested indexing - Access the first character of the first list ele

'o'

In [44]:
list4[-1] # Last item of the list

'three'

In [46]:
list5[-1] # Last item of the list

[150, 90]

#### list Slicing

In [76]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [78]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [80]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item a

['three', 'four', 'five']

In [82]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [84]:
mylist[:2] # Return first two items

['one', 'two']

In [86]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [88]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [90]:
mylist[-1] # Return last item of the list

'eight'

In [92]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## Add , Remove & Change Items

In [97]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [99]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [101]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [103]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [105]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [107]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [109]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2 
mylist[2] = 3 
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [111]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [113]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

## Copy List

In [118]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [120]:
mylist1 = mylist # Create a new reference "mylist1"

In [122]:
id(mylist) , id(mylist1) # The address of both mylist & mylist1 will be the same

(1893794997888, 1893794997888)

In [124]:
mylist2 = mylist.copy() # Create a copy of the list

In [126]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

1893794989504

In [128]:
mylist[0] = 1

In [130]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [132]:
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [134]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

#### Joint Lists

In [137]:
list1 = ['one', 'two', 'three', 'four'] 
list2 = ['five', 'six', 'seven', 'eight']

In [142]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

#### List Membership

In [145]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [147]:
'one' in list1 # Check if 'one' exist in the list

True

In [149]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [153]:
if 'three' in list1: # Check if 'three' exist in the list 
    print('Three is present in the list') 
else: 
    print('Three is not present in the list')

Three is present in the list

In [157]:
if 'eleven' in list1: # Check if 'eleven' exist in the list 
   print('eleven is present in the list') 
else: 
    print('eleven is not present in the list')

eleven is not present in the list

## Reverse & Sort List

In [164]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [166]:
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [168]:
list1 = list1[::-1] # Reverse the list
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [170]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [172]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [174]:
mylist4 = [88,65,33,21,11,98] 
sorted(mylist4) # Returns a new sorted list and doesn't change original l

[11, 21, 33, 65, 88, 98]

In [176]:
mylist4

[88, 65, 33, 21, 11, 98]

## Loop through a list

In [179]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [181]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight

In [185]:
for i in enumerate(list1):
     print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Count

In [188]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [190]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [192]:
list10.count('two') # Occurence of item 'two' in the list

2

In [194]:
list10.count('four') #Occurence of item 'four' in the list

1

## All / Any

#### The all() method returns:

. True - If all elements in a list are true

. False - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [199]:
L1 = [1,2,3,4,0]

In [201]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [203]:
any(L1) # Will Return True as we have items in the list with True value

True

In [205]:
L2 = [1,2,3,4,True,False]

In [207]:
all(L2) # Returns false as one value is false

False

In [209]:
any(L2) # Will Return True as we have items in the list with True value

True

In [211]:
L3 = [1,2,3,True]

In [213]:
all(L3) # Will return True as all items in the list are Trues

True