In [1]:
mytuple2=(43,67,99,12,6,90.67)

In [2]:
sorted(mytuple2)

[6, 12, 43, 67, 90.67, 99]

In [3]:
sorted(mytuple2,reverse=True)

[99, 90.67, 67, 43, 12, 6]

## sets

1) Unodered & Unindexed collection of iteams.
2) Set elements are unique.Duplicate elements are not allowed.
3) Set elements are immutable(cannot be changed).
4) Setitself is mutable.we can add or remove items from it.

## Set Creation

In [7]:
myset={1,2,3,4,5}

myset

{1, 2, 3, 4, 5}

In [8]:
len(myset)

5

In [9]:
my_set={1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [10]:
myset1={1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [11]:
myset2={'Asif','John','Tyrion'}
myset2

{'Asif', 'John', 'Tyrion'}

In [12]:
myset3={10,20,"Hola",(11,22,32)}
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [13]:
myset3={10,20,"Hala",[11,22,32]}
myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4=set()
print(type(myset4))

In [ ]:
my_set1=set(('one','two','three','four'))
my_set1

## Loop through a Set

In [ ]:
myset={'one','two','three','four','five','six','seven','eight'}
for i in myset:
    print(i)

In [ ]:
for i in enumerate(myset):
    print(i)

## set Membership

In [ ]:
myset

In [ ]:
'one' in myset

In [ ]:
'ten' in myset

In [ ]:
if'three' in myset:
    print('Three is present in the set')

In [ ]:
if 'elven' in myset:
    print('Three is present in the set')
else:
    print('Three is not present in the set')

## Add & Remove list

In [ ]:
myset

In [ ]:
myset.add('NINE')
myset

In [ ]:
myset.update(['TEN','ELEVEN','TWELVE'])
myset

In [ ]:
myset.remove('NINE')
myset

In [ ]:
myset.discard('TEN')
myset

In [ ]:
myset.clear()
myset

In [ ]:
del myset
myset

## Copy Set

In [ ]:
myset={'one','two','three','four','five','six','seven','eight'}
myset

In [ ]:
myset1=myset 
myset1

In [ ]:
id(myset),id(myset1)

In [ ]:
my_set=myset.copy()
myset

In [ ]:
id(my_set)

In [ ]:
myset.add('nine')
myset

In [ ]:
myset1

In [ ]:
my_set

## Set Operation

###### Union

In [ ]:
A={1,2,3,4,5}
B={4,5,5,6,7,8}
C={8,9,10}

In [ ]:
A|B

In [ ]:
A.union(B)

In [ ]:
A.union(B,C)

In [ ]:
"""
updates the set calling the update() method with union of A, B & C.
For below example Set A Will be updated with Union of A, B & C.
"""
A.update(B,C)
A

#### Intersecation

In [40]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [42]:
A & B

{4, 5}

In [50]:
A.intersecation(B) Intersecation of A and B

SyntaxError: invalid syntax (3480536986.py, line 1)

In [46]:
"""
updates the set calling the intersection_update() method with the intersection o
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

#### Dfference(B)

In [55]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [57]:
A-B

{1, 2, 3}

In [59]:
B.difference(A)

{6, 7, 8}

In [61]:
"""
updates the set calling the difference_update() method with the difference of se For below
example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

#### Symmetric Difference

In [3]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [5]:
A ^ B

{1, 2, 3, 6, 7, 8}

In [7]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [9]:
"""
updates the set calling the symmetric_update() method with the symmet
For below example set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

#### subset, Superset & Disjoint

In [16]:
A={1,2,3,4,5,6,7,8,9}
B={3,4,5,6,7,8}
C={10,20,30,40}

In [18]:
B.issubset(A)

True

In [22]:
A.issuperset(B)

True

In [24]:
C.isdisjoint(A)

True

In [26]:
B.isdisjoint(A)

False

## Other Builtin functions

In [29]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
sum(A)

45

In [33]:
max(A)

9

In [35]:
min(A)

1

In [37]:
len(A)

9

In [39]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [43]:
D= sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
sorted (D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Dicitionary

. Dictionary is a mutable data type in python.

. A python dicionary is a collection of key and value pairs separated by a colon(:) &
  enclosed in curly braces{}.

. keys must be unique in a dictionary, duplicate values are allowed.

## create Dictionary

In [23]:
mydict = dict()
mydict

{}

In [25]:
mydict={}
mydict

{}

In [31]:
mydict={1:'óne',2:'two',3:'three'}
mydict

{1: 'óne', 2: 'two', 3: 'three'}

In [35]:
mydict={'A':'one','B':'two','C':'three'}
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [37]:
mydict={1:'one','A':'two',3:'three'}
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [39]:
mydict.keys()

dict_keys([1, 'A', 3])

In [41]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [43]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [45]:
mydict={1:'one',2:'two','A':['asif','john','Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [56]:
mydict={1:'one',2:'two','A':['asif','john','Maria'],'B':('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [64]:
mydict={1:'one',2:'two','A':{'Name':'asif','Age':20},'B':('Bat','cat','hat')}
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'asif', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [78]:
keys={'a','b','c','d'}
mydict3=dict.fromkeys(keys)
mydict3

{'a': None, 'b': None, 'd': None, 'c': None}

In [82]:
keys={'a','b','c','d'}
value=10
mydict3=dict.fromkeys(keys,value)
mydict3

{'a': 10, 'b': 10, 'd': 10, 'c': 10}

In [88]:
keys={'a','b','c','d'}
value=[10,20,30]
mydict3=dict.fromkeys(keys,value)
mydict3

{'a': [10, 20, 30], 'b': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30]}

In [90]:
value.append(40)
mydict3

{'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

#### Accessing Items

In [96]:
mydict={1:'one',2:'two',3:'three',4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [98]:
mydict[1]

'one'

In [100]:
mydict.get(1)

'one'

In [104]:
mydict1={'Name':'Asif','ID':74123,'DOB':1991,'job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [106]:
mydict1['Name']
'Asif'

'Asif'

In [110]:
mydict1.get('job')

'Analyst'

## Add,Remove & Change Items

In [82]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [84]:
mydict1['DOB']=1992
mydict1['Address']='Delihi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delihi'}

In [86]:
dict={'DOB':1995}
mydict1['Address']='Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [88]:
dict1={'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [90]:
mydict1['Job']='Analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [92]:
mydict1.pop('Job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [94]:
mydict1.popitem()

('Address', 'Delhi')

In [96]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [98]:
del[mydict1['ID']]
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [100]:
mydict1.clear()
mydict1

{}

In [107]:
del mydict1
mydict1

NameError: name 'mydict1' is not defined

#### Copy Dictionary

In [112]:
mydict = {'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [114]:
mydict1 = mydict

In [116]:
id(mydict),id(mydict1)

(1752460897216, 1752460897216)

In [122]:
mydict2=mydict.copy()

In [124]:
id(mydict2)

1752461042304

In [126]:
mydict['Address']='Mumbai'

In [128]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [130]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

In [132]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

#### Loop through a Dictionary

In [3]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Address':'Hilsinki','Job':'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [5]:
for i in mydict1:
    print(i,':',mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [151]:
for i in mydict:
    print(mydict1[i])

Asif
12345
1991
Hilsinki

#### Dictionary Membership

In [154]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Job':'Anaiyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Anaiyst'}

In [156]:
'Name' in mydict1

True

In [158]:
'Asif'in mydict1

False

In [160]:
'ID' in mydict1

True

In [162]:
'Address' in mydict1

False

#### All/Any

The all() method returns:

. True-If all all keys of the dictionary are true

.False-If any key() function returns True if any key of the dictionary is True.If not.any
() returns False.

In [173]:
mydict1={'Name':'Asif','ID':12345,'DOB':1991,'Job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [175]:
all(mydict1)

True